<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap - Prebuilt Layout</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
	  <link href="css/general.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light header">
	    <a class="navbar-brand" href="#"><img id="borderIcono" src="images/icono_prueba.png" width="60" height="60" alt=""/></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
		<span class="linkNavRight d-block d-lg-none">
			<a href="#"><div class="buttonNav">Mi perfil</div></a>
			<a href="#"><div class="buttonNav">Cerrar sesión</div></a>
		</span>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item">
                <a class="headerLink nav-link" href="#">Mis mentorizados</a>
             </li>
             <li class="nav-item">
                <a class="headerLink nav-link" href="#">Mis peticiones</a>
             </li>
          </ul>
       </div>
		<span class="linkNavRight d-none d-lg-block">
			<a href="#"><div class="buttonNav">Mi perfil</div></a>
			<a href="#"><div class="buttonNav">Cerrar sesión</div></a>
		</span>
   </nav>
	  <div class="espacioEntreSecciones"></div>
<!-- Esto hasta aqui estaría-->
	 <section class="container">
		 <div class="row encabezadoSeccion">
			 <div class="col-lg-12"> 
			 Notificaciones
			 </div>
		 </div>
		 <div class="row text-left cuerpoSeccion" style="height: 250px">
		 <div class="col-lg-12" ng-show="cargando">Cargando...</div>
		 	<div class="col-lg-12"> 
				<div class="elementoRepetible" ng-repeat="notificacion in notificaciones">
				<div class="float-right"><span ng-show="notificacion.nueva">Nueva! </span>
				<button class=" botonBorrarNotificacion" ng-click="borrarNotificacion(notificacion)" ng-disabled="cargando">X</button></div>
				<h3>{{notificacion.titulo}}</h3>
				<p>{{notificacion.descripcion}}</p>
				<p>Fecha de envío: {{notificacion.fechaenv}}</p>
		 		</div>
		 	</div>
		 	<div class="col-lg-12" ng-show="mostrarsin">No tiene notificaciones</div>
			 <button ng-click="cargando = true" ng-disabled="cargando"><img src="images/redo.png" class="redoBoton"></button>
		</div>
	 </section>
	<div class="espacioEntreSecciones"></div>
	  
	<section class="container">
		 <div class="row encabezadoSeccion">
			 <div class="col-lg-12"> 
			 <button class="float-right botonSeccion">▼</button> 
			 <button class="float-right botonSeccion">▲</button>
			 Tus mentorizaciones 
			</div>
		 </div>
		 <div class="row text-left cuerpoSeccion">
		 	<div class="col-lg-10 offset-lg-1"> 
				<div><!--Aqui la repeticion-->
					<div class="row">
						<div class="col-lg-3 text-center">
							<img class="fotoPerfil" src="images/icono_prueba.png" alt=""/>
							<div class="textoContacto">
								Correo eletronico: 
								<span style="font-size: 12px">pablo.gonzalez.alonso@rai.usc.es</span><br>
								<span><!--Solo mostrar si hay telefono-->Telefono: 
								<span style="font-size: 14px">123456789</span>
								</span>
							</div>
						</div>
						<div class="col-lg-9 text-lg-left text-sm-center">
						<h3>Nombre Apellido Apellido</h3>
							<div>Edad: xx <!--Esto hacerlo por angular--> Institucion: USC <span>Fase actual: KK</span></div>
							<div>
							<span>Linkedin:  </span> Nivel de estudios: x<br>
							Descripción:
							<p style="font-size: 14px">kkkkkkk kkkk kkkk kkkk kkkk kkkk kkkk kkkk kkk</p>
							</div>
						</div>
						
					</div>
					<div>Avanzar en la hoja de ruta:</div>
					<div class="row">
						<div class="col-lg-3 col-md-6 text-center">
							<button class="botonFase">Nacimiento</button> 
							<span class="float-right">→</span>
							<p class="textoDescripcionFase">Representa el comienzo de la relación de mentoring. Se están estableciendo las reglas de la relación y se está construyendo la confianza.</p>
						</div>
						<div class="col-lg-3 col-md-6 text-center">
							<button class="botonFase">Compromiso</button>
							<span class="float-right">→</span>
							<p class="textoDescripcionFase">Se está estableciendo un plan de actividades especifico con metas concretas. Se están fijando las tareas a realizar y se está fortaleciendo la relación.</p>
						</div>
						<div class="col-lg-3 col-md-6 text-center">
							<button class="botonFase">Sostenimiento</button>
							<span class="float-right">→</span>
							<p class="textoDescripcionFase">La relación de mentoring se está manteniendo. Se ha conseguido una relación fuerte y un alto grado de confianza entre las dos partes.</p>
						</div>
						<div class="col-lg-3 col-md-6 text-center">
							<button class="botonFase">Fin</button>
							<span class="float-right" style="visibility: hidden">→</span>
							<p class="textoDescripcionFase">Representa el fin de la relación de mentoring. Es el proceso de cierre de la relación.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-10 offset-lg-1"> 
							<p>Areas de conocimiento en las que está interesado:</p>
							<div class="row">
								<div class="col-lg-4 col-md-6 areaConocimiento"> Area de conocimiento
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-6 text-center offset-md-3">
							<button class="botonInterfaz">Mostrar datos</button>
						</div>
						<div class="col-md-3 col-sm-6 text-center">
							<button class="botonInterfaz">Ocultar datos</button>
						</div>
						<div class="col-md-3 col-sm-6 text-center">
							<button class="botonInterfaz">Terminar relación</button>
						</div>
					</div>
				<div class="popup">¿Seguro que quieres cerrar esta relación? <br>
					<button class="botonInterfaz" style="width: 100px">Confirmar</button> 
					<button class="botonInterfaz" style="width: 100px">Cancelar</button></div>
				</div>
		 	</div>
		 </div>
	</section>
	<div class="espacioEntreSecciones"></div>
	<section class="container">
		 <div class="row encabezadoSeccion">
			 <div class="col-lg-12" style=""> 
			 <button class="float-right botonSeccion">▼</button>
			 <button class="float-right botonSeccion">▲</button>
			 Peticiones recibidas 
				 
			</div>
		 </div>
		 <div class="row text-left cuerpoSeccion">
		 	<div class="col-lg-10 offset-lg-1 elementoRepetibleDos"> 
				<div ><!--Aqui la repeticion-->
					<div class="row">
						<div class="col-lg-3 text-center">
							<img class="fotoPerfil" src="images/icono_prueba.png" alt=""/>
							<div class="textoContacto">
								Correo eletronico: 
								<span style="font-size: 12px">pablo.gonzalez.alonso@rai.usc.es</span><br>
								<span><!--Solo mostrar si hay telefono-->Telefono: 
								<span style="font-size: 14px">123456789</span>
								</span>
							</div>
						</div>
						<div class="col-lg-9 text-lg-left text-sm-center">
						<h3>Nombre Apellido Apellido</h3>
							Cuerpo de la petición:
							<p style="font-size: 14px">kkkkkkk kkkk kkkk kkkk kkkk kkkk kkkk kkkk kkk</p>
						</div>
						
					</div>
					<div class="row elementoRepetibleDos">
						<div class="col-md-6">
							Edad: xx <br>
							Institución: X <br>
							<span>Linkedin:  <br></span>
							Nivel de estudios: x
						</div>
						<div class="col-md-6">
							Descripción:
							<p style="font-size: 14px">kkkkkkk kkkk kkkk kkkk kkkk kkkk kkkk kkkk kkk</p>
						</div>
					</div>
					<div class="row elementoRepetibleDos">
						<div class="col-lg-10 offset-lg-1"> 
							<p>Areas de conocimiento en las que está interesado:</p>
							<div class="row">
								<div class="col-lg-4 col-md-6 areaConocimiento"> Area de conocimiento
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-4 text-center offset-md-3">
							<button class="botonInterfaz">Mostrar datos</button>
						</div>
						<div class="col-md-3 col-sm-4 text-center">
							<button class="botonInterfaz">Ocultar datos</button>
						</div>
						<div class="col-md-3 col-sm-4 text-center">
							<button class="botonInterfaz">Aceptar petición</button>
						</div>
						<div class="col-md-3 col-sm-4 text-center">
							<button class="botonInterfaz">Rechazar petición</button>
						</div>
					</div>
		 	</div>
		 </div>
	</section>
	<div class="espacioEntreSecciones"></div>
       <hr>
       <div class="row">
          <div class="text-center col-lg-6 offset-lg-3">
             <h4>Footer </h4>
             <p>Copyright &copy; 2021 &middot; All Rights Reserved &middot; <a href="#" >My Website</a></p>
          </div>
       </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="js/jquery-3.4.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="js/popper.min.js"></script>
  <script src="js/bootstrap-4.4.1.js"></script>
  </body>
</html>
