.header{
	background-color: #8DFFC7;
	position: fixed;
	width: 100%;
	height: 100px;
	margin: 0px;
}

.main{
	margin-top: 100px;
}

body {
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  width: 100%;
}

#borderIcono {
border-right: 5px solid #1C6EA4;
border-bottom: 5px solid #1C6EA4;
border-radius: 40px;
}

.headerLink {
font-family: Tahoma, Geneva, sans-serif;
font-size: 19px;
letter-spacing: 0px;
word-spacing: 0px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.linkNavRight {
align-self: flex-end center;
}

.buttonNav {
	background-color: #B6B6B6;
	border: 3px solid #464646;
	border-radius: 10px;
	text-align: center;
	width: 150px;
	height: 32px;
	color: black;
}

.buttonNav:hover {
	background-color: #868686;
	border: 3px solid #464646;
	color: white;
}


a:hover {
	text-decoration: none;
}

button:hover{
	background-color: #858585;
}

button:disabled{
	background-color: #858585;
	opacity: 0.5;
}

.espacioEntreSecciones{
	height: 10px;
	margin: 5px;
}

.encabezadoSeccion{
	background-color: #8EFBF6;
	border: 3px solid #464646;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	border-radius: 15px 15px 0px 0px;
	font-weight: 700;
}

.pieSeccion{
	background-color: #8EFBF6;
	border: 3px solid #464646;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	border-radius: 0px 0px 15px 15px;
	font-weight: 700;
}

.cuerpoSeccion{
	transition:0.5s linear all;
	background-color: #E2E2E2;
	border: 1px solid black;
	font-family: Tahoma, Geneva, sans-serif;
	overflow-y: scroll;
	height: 600px;
	word-wrap: break-word;
}

.cuerpoSeccion.ng-show{
	transition:0.5s linear all;
	height: 500px;
}

.cuerpoSeccion.ng-hide{
	transition:0.5s linear all;
	height: 0px;
}

.cuerpoSeccion.ng-enter.ng-enter-active {
  height: 500px;
}

.elementoRepetible{
	border-bottom: 1px solid black;
}

.elementoRepetibleDos{
	border: 1px solid black;
	position: relative;
}

.subSeccion{
	border-bottom: 1px solid black;
	margin: 0px;
}
@media only screen and (min-width: 768px) {
  .subSeccionIzquierda{
	border-right: 1px solid black;
	}
}
@media only screen and (min-width: 992px) {
  .subSeccionIzquierdaDos{
	border-right: 1px solid black;
	}
}



.botonBorrarNotificacion{
	background-color: #CDCDCD;
	border: 2px solid black;
	font-size: 18px;
	border-radius: 10px;
	font-weight: 700;
	color: red;
	width: 32px;
	height: 30px;
	text-align: center;
	margin: 0px;
	padding-bottom: 27px;
}

.botonSeccion{
	background-color: #CDCDCD;
	border: 2px solid black;
	font-size: 18px;
	border-radius: 10px;
	font-weight: 700;
	color: blue;
	width: 32px;
	height: 30px;
	text-align: center;
	margin: 0px;
	padding-bottom: 27px;
}

.fotoPerfil {
	border: 5px solid #1C6EA4;
	border-radius: 80px;
	height: 120px;
	width: 120px;	
}



.textoContacto{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
}

.botonFase{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	background-color: #FFFFFF;
	border: 3px solid #464646;
	border-radius: 10px;
	text-align: center;
	width: 120px;
	height: 32px;
	color: black;
}

.textoDescripcionFase{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	text-align: justify;
}

.areaConocimiento{
	border: 2px solid #464646;
	border-radius: 5px;
	height: 32px;
	background-color: #ECECEC;
}

.botonInterfaz{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	background-color: #FFFFFF;
	border: 3px solid #464646;
	border-radius: 15px;
	text-align: center;
	width: 150px;
	height: 32px;
	color: black;
}

.popup{
	position: fixed;
	z-index: 200;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	vertical-align: middle;
	width: 300px;
	min-height: 70px;
	background-color: #DCDCDC;
	border: 3px solid black;
	pointer-events: all;
}


.popupFondo{
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(220,220,220,0.5);
}

.seccionDesabilitada{
  	pointer-events: none;
}

.sinResultados{
	vertical-align: middle;
	text-align: center;
}

.sinResultadosSeccion{
	height: 100px;
}

.mensajeError{
	color: red;
	font-weight: bold;
}

.redoImage{
	background-color: #CDCDCD;
	border-radius: 10px;
	width: 30px;
	height: 30px;
}

.redoBoton{
	background-color: #CDCDCD;
	border: 2px solid black;
	border-radius: 10px;
	width: 35px;
	height: 35px;
	padding: 0px;
}

.textoLargo{
	word-wrap: break-word;
}

.textAreaPopUp{
	width: 96%;
	min-height: 80px;
	margin: 2%;
}

[type=radio]{
	position: absolute;
  	opacity: 0;
  	width: 0;
  	height: 0;
}

.imagenPuntuar{
  	width: 30px;
  	height: 30px;
}

[type=radio] + img{
	cursor: pointer;
}

[type=radio]:checked + img {
  	opacity: 0.3;
}

.viewRangeHoras{
	border: none;
  	display: inline;
  	font-family: inherit;
  	font-size: inherit;
  	padding: none;
  	width: 50px;
	background-color: inherit;
}

.campoObligatorio{
	color: red;
}

.cuerpoPageSmall{
	min-height: 60vh;
	width: 100vw;
}

.cuerpoSeccionEstrecho{
	min-width: 50%;
}

.campoObligatorio{
	color: red;
}

/*A partir de aqui, iria en un chat.css*/

.fotoPerfilChat{
	border: 2px solid #1C6EA4;
	border-radius: 80px;
	/*margin-top: 0.5%;
	margin-left: 2%;*/
	margin: 8%;
	width: 80%;
}

.fotoPerfilChatTarget{
	border: 5px solid #1C6EA4;
	border-radius: 80px;
	/*margin-top: 0.5%;
	margin-left: 2%;*/
	margin-top: 14%;
	width: 100%;
}

.nombrePerfilChatTarget{
	font-size:calc(8px + 0.5vw);
	font-weight: bold;
	display : flex;
  	align-items : center;
}


.nombrePerfilChat{
	font-size:calc(8px + 0.5vw);
	font-weight: bold;
	margin : 0px;
	padding: 0px;
	display : flex;
  	align-items : center;
}
.cuadroChats{
	margin-top: 4vh;
	/*height: 650px;*/

	background-color: #E2E2E2;
	border: 1px solid black;
	font-family: Tahoma, Geneva, sans-serif;
	word-wrap: break-word;
}

.cuerpoChats{
	height: 500px;

	background-color: #E2E2E2;
	font-family: Tahoma, Geneva, sans-serif;
	word-wrap: break-word;
}

.zonaMensajes{
	height: 430px;
	background-color: #F6F6F6;
	font-family: Tahoma, Geneva, sans-serif;
	word-wrap: break-word;
	padding-top: 10px;
	overflow-y: scroll;
}


.cabeceraChats{
	/*height: 120px;*/
	border-bottom: 1px solid black;
}

.volverSeccion{
	height: 50px;
	display : flex;
  	align-items : center;
	border-bottom: 1px solid black;
	/*padding-left: 30%;*/
	width: 100%;
}

.volverButton {
	background-color: #B6B6B6;
	border: 3px solid #464646;
	border-radius: 10px;
	text-align: center;
	width: 100%;
	min-height: 30px;
	font-size:calc(7px + 0.5vw);
	font-weight: bold;
	color: black;
	padding: 0px;
}

.volverButton:hover {
	background-color: #868686;
	border: 3px solid #464646;
	color: white;
}

.listaChats{
	padding: 0px;
}

.listaChatNombre{
	font-size:calc(7px + 0.5vw);
	font-weight: bold;
	display : flex;
  	align-items : center;
	padding: 0px;
	margin: 0px;
}

.listaChatInfo{
	font-size:calc(8px + 0.5vw);
	font-weight: bold;
	display : flex;
  	align-items : center;
	padding: 0px;
	margin: 0px;
	padding-left: 5px;
	color: green;
}

.color1Chat{
	background-color: #5AB9EA;
}

.color2Chat{
	background-color: #84CEEB;
}

.contactoChat:hover{

	cursor: pointer;
}

.mensajeUser{
	min-width: 20%;
	max-width: 80%;
	min-height: 30px;
	background-color: #8DFFC7;
	border: 1px solid black;
	border-radius: 10px;
	float: right;
	margin-bottom: 5px;
}

.mensajeOtro{
	min-width: 20%;
	max-width: 80%;
	min-height: 30px;
	background-color: #E7717D;
	border: 1px solid black;
	border-radius: 10px;
	float: left;
	margin-bottom: 5px;
}

.textareaMensaje{
	width: 96%;
	height: 60px;
	margin-top: 5px;
}

.sendBotonSection{
	display : flex;
  	align-items : center;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.sendBoton{
	background-color: #84CEEB;
	border: 2px solid black;
	border-radius: 10px;
	width: 30%;
	height: 60%;
	padding: 0px;
	min-width: 40px;
	margin-right: 10px;
}

.sendBoton:hover{
	background-color: #006192;
}

.sendImage{
	width: 80%;
	height: 80%;
}