<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello Mentor!</title>
        <meta charset="UTF-8">
        <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    	<script type="text/javascript" th:src="@{/js/restconsumeruser.js}"></script>
    </head>
    <body ng-app="appConsumer">
        <h1>Eres un mentor!</h1>
        <a th:href="@{/user/perfil}" th:text="Perfil">perfil</a>
        <a th:href="@{/auth/logout}" th:text="Logout">logout</a>
    </body>
</html>