<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
		<meta charset="UTF-8">
    </head>
    <body>
        <h1>Welcome!</h1>
        
        <p>Click <a th:href="@{/login}">here</a> to see a greeting.</p>
        <p>Click <a th:href="@{/auth/registration?m=1}">aquí</a> para registrarte como mentor.</p>
        <p>Click <a th:href="@{/auth/registration?m=0}">aquí</a> para registrarte como mentorizado.</p>
        <p>Click <a th:href="@{/auth/registration}">aquí</a> para registrarte como mentorizado.</p>
    </body>
</html>