<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hola usuario!</title>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
		<script type="text/javascript" th:src="@{/js/userconsumer.js}"></script>
    </head>
    <body ng-app="appConsumer">
    <div ng-controller="userController">
        <h1>Eres un mentor!</h1>
        <h1 th:text="Formulario">form</h1>
		<form >
    		<div>
        		Correo: <span th:text="${correo}"/>
    		</div>
    		<div>
        		Rol: <span th:text="${rol}"/>
    		</div>
    		<div>
        		Fecha de registro: <span th:text="${fregistro}"/>
    		</div>
    		<div>
        		<label>Nombre</label>
        		<input ng-model="usuario.nombre"/>
    		</div>
    		<div>
        		<label>Primer apellido</label>
        		<input ng-model="usuario.papellido"/>
    		</div>
    		<div>
        		<label>Segundo apellido</label>
        		<input ng-model="usuario.sapellido"/>
    		</div>
    		<div>
        		<label>Telefono</label>
        		<input type="tel" ng-model="usuario.telefono"/>
    		</div>
    		<div>
        		<label >Nivel de estudios:</label>
        		<select ng-model="usuario.nivelEstudios">
        		<div>
        			<option th:value="Otros" th:text="'--Escoge uno--'"></option>
        			<option th:each="i : ${estudios}" th:value="${i}" th:text="${i}">
        			</option>
        		</div>
        		</select>
    		</div>
    		<div>
        		<label>Descripción</label>
        		<textarea ng-model="usuario.descripcion" maxlength="300"></textarea>
    		</div>
    		<div>
        		<label>Tu linkedin</label>
        		<input type="url" ng-model="usuario.linkedin"/>
    		</div>
    		<div ng-show="usuario.mentor">
        		<label >Horas por mes</label>
        		<input type="number" ng-model="usuario.horaspormes"/>
    		</div>
    		<div>
    			Fecha de nacimiento:
        		<input type="date" ng-model="mydate"/>
    		</div >
    		<div>
        		<label>Institución</label>
        		<select ng-model="usuario.institucionNombre">
        			<option th:each="i : ${instituciones}" th:value="${i}" th:text="${i}">
        			</option>
        		</select>
    		</div>
    		<div ng-show="usuario.mentor">
        		<label>Puesto</label>
        		<select ng-model="usuario.puesto">
        			<option th:value="Otro" th:text="'--Escoge uno--'"></option>
        			<option th:each="i : ${puestos}" th:value="${i}" th:text="${i}">
        			</option>
        		</select>
    		</div>
    		
		</form>
		<p>Areas de conocimiento</p>
		<div ng-show="cargando">Cargando...</div>
		<ul>
			<li ng-repeat="area in usuario.areas">{{area.area}} <button ng-click="borrarArea(area)">Borrar</button>
			</li>
		</ul>
		<div ng-show="sinareas">No tienes ninguna área de conocimiento escogida</div>
		
		<div>
        	<label th:text="'Añadir nueva area'">Añadir nueva area</label>
        		<select ng-model="areaseleccioanda">
        		<option th:value="'--Escoge una--'" th:text="'--Escoge una--'"></option>
        			<option th:each="i : ${areas}" th:value="${i.area}" th:text="${i.area}">
        			</option>
        		</select>
        		<button ng-click="addArea(areaseleccioanda)">Añadir</button>
    		</div>
		<div><button th:text="Aceptar"  ng-click="setInfo(usuario)">submit</button></div>
        <a th:href="@{/auth/logout}" th:text="Logout">logout</a>
        <a th:href="@{/user/principal}" th:text="'Volver a la página principal'">Volver a (buscar un buen nombre)</a>
        </div>
    </body>
</html>