<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Registro</title>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>-->
<script type="text/javascript" th:src="@{/js/angular.min.js}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>-->
<script type="text/javascript" th:src="@{/js/register.js}"></script>
</head>
<body ng-app="appRegister">
<h1 th:text="Formulario">form</h1>
<!--th:action="${useraux.mentor} == true ? @{/auth/register?m=1} : @{/auth/register?m=0}"-->
<form action='#' th:action="${useraux.mentor} == true ? @{/auth/register?m=1} : @{/auth/register?m=0}" method="POST" th:object="${useraux}" enctype="utf8" ng-controller="registerController">
	<div th:if="${errorGlobal}"><span th:text="${errorGlobal}"/></div>
    <div>
        <label th:text="Correo">Correo</label>
        <input type="email" th:field="*{correo}"/><!-- ng-model="usuario"-->
        <p th:each="error: ${#fields.errors('correo')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="'Contraseña'">Contraseña</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}" 
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="Mentor">Mentor </label>
        <input type="checkbox" th:field="*{mentor}" ng-model="mentor"></input>
    </div>
    <div>
        <label th:text="Nombre">Nombre</label>
        <input th:field="*{nombre}"/>
        <p th:each="error: ${#fields.errors('nombre')}" 
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="'Primer apellido'">Primer apellido</label>
        <input th:field="*{papellido}"/>
        <p th:each="error: ${#fields.errors('papellido')}" 
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="'Segundo apellido'">Segundo apellido</label>
        <input th:field="*{sapellido}"/>
        <p th:each="error: ${#fields.errors('sapellido')}" 
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="Telefono">Telefono</label>
        <input type="tel" th:field="*{telefono}"/>
        <p th:each="error: ${#fields.errors('telefono')}" 
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="'Nivel de estudios'">Nivel de estudios</label>
        <select th:field="*{nivelEstudios}">
        	<option th:value="Otros" th:text="'--Escoge uno--'"></option>
        	<option th:each="i : ${estudios}" th:value="${i.nivelestudios}" th:text="${i.nivelestudios}">
        	</option>
        </select>
    </div>
    <div>
        <label th:text="'Tu linkedin'">Tu linkedin</label>
        <input type="url" th:field="*{linkedin}"/>
        <!--<p th:each="error: ${#fields.errors('linkedin')}" 
          th:text="${error}">Validation error</p>-->
    </div>
    <div ng-show="mentor">
        <label th:text="'Horas por mes'">Horas por mes</label>
        <input type="number" th:field="*{horaspormes}" min=4 max=80/>
        <!--<p th:each="error: ${#fields.errors('horaspormes')}" 
          th:text="${error}">Validation error</p>-->
    </div>
    <div>
        <label th:text="'Fecha de nacimiento'">Fecha de nacimiento:</label>
        <input type="date" th:field="*{fnacimiento}"/>
    </div>
    <!--<div th:object="${useraux}">
        <label th:text="'Fecha de nacimiento'">Fecha de nacimiento:</label>
        <input type="date" th:field="${useraux.fnacimiento}"/>
    </div>-->
    <div>
    	<label th:text="'Institución'">Institución</label>
        <select th:field="*{institucion}">
        	<option th:value="Otra" th:text="'--Escoge una--'"></option>
        	<option th:each="i : ${instituciones}" th:value="${i}" th:text="${i}">
        	</option>
        </select>
        <p>En caso de escoger la opción Otra (una institución que no está registrada en la aplicación), puede indicar de cúal se trata en
        el apartado descripción de su perfil.</p>
    </div>
    <!--<p>{{mentor}}</p>-->
    <div ng-show="mentor">
        <label th:text="Puesto">Puesto</label>
        <select th:field="*{puesto}">
        	<option th:value="Otro" th:text="'--Escoge uno--'"></option>
        	<option th:each="i : ${puestos}" th:value="${i.puesto}" th:text="${i.puesto}">
        	</option>
        </select>
    </div>
    <button type="submit" th:text="Aceptar">submit</button>
</form>

<a th:href="@{/login.html}" th:text="Login">login</a>
</body>
</html>