<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Registro</title>
</head>
<body>
<h1 th:text="Formulario">form</h1>
<form action='#' th:action="@{/user/register}" th:object="${user}" method="POST" enctype="utf8">
    <div>
        <label th:text="Correo">Correo</label>
        <input th:field="*{correo}"/><!-- ng-model="usuario"-->
        <p th:each="error: ${#fields.errors('correo')}" 
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="Password">password</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}" 
          th:text="${error}">Validation error</p>
    </div>
    <button type="submit" th:text="Aceptar">submit</button>
</form>

<a th:href="@{/login.html}" th:text="Login">login</a>
</body>
</html>